# Default ignored files
/../../../../../16.Herança e polimerfismo/heranca/src/challange01/.idea/shelf/
/../../../../../16.Herança e polimerfismo/heranca/src/challange01/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../16.Herança e polimerfismo/heranca/src/challange01/.idea/httpRequests/
# Environment-dependent path to Maven home directory
/../../../../../16.Herança e polimerfismo/heranca/src/challange01/.idea/mavenHomeManager.xml
# Datasource local storage ignored files
/../../../../../16.Herança e polimerfismo/heranca/src/challange01/.idea/dataSources/
/../../../../../16.Herança e polimerfismo/heranca/src/challange01/.idea/dataSources.local.xml
